.app {
  text-align: center;
  background-color: var(--background-color);
  height: 100%;
  width: 100%;
  min-height: 100vh;
}

.padding-container {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 4rem;
}

.text-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
